<br>
<br>
<div class="container-fluid project-show">
  <div class="row">
    <div class="col-sm-6">
      <%= link_to @project.url, target: "_blank" do %>
        <%= image_tag @project.cover, alt: @project.description, class: "project-image" %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h2><strong><%= @project.title %></strong></h2>      
      <p><%= @project.description %></p>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="add-to-favorite">
      <% if @like %>
        <%= link_to like_project_path(@project), method: :post, class: "like-link btn btn-default btn-like", remote: true do %>
          <h4 class="text-center" id="like-content"><span class="glyphicon glyphicon-heart"></span> Already added</h4>
        <% end %>      
      <% else %>
        <%= link_to like_project_path(@project), method: :post, class: "like-link btn btn-default btn-like", remote: true do %>
          <h4 class="text-center" id="like-content"><span class="glyphicon glyphicon-heart-empty"></span> Add to My Favorite</h4>
        <% end %>
      <% end %>
    </div>  
  <% end %>
  <br>
  <div>
    <%= link_to "#commentModal", class: "btn btn-default", :"data-toggle" => "modal" do %>
      <h4 class="text-center">Comments</h4>
    <% end %>     
  </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="commentModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Comments</h4>
        </div>
        <div class="modal-body">
        <ul class="list-group">
          <% if @comments.size > 0 %>
            <% @comments.each do |comment| %>
              <li class="list-group-item">
                <p><strong><%= comment.content %></strong><br><br>
                (<%= time_ago_in_words(comment.created_at) %>)</p>
              </li>          
            <% end %>
          <% end %>  
        </ul>    
        </div>
        <div class="modal-footer">
          <% if user_signed_in? %>
            <%= form_for [@project, @comment], remote: true do |f| %>
              <div class="form-group">
                <%= f.text_area :content, class: "form-control", rows: 5 %>
              </div>
                <%= f.submit %>
            <% end %>
          <% else %>
            <%= link_to "Sign in to leave comments", new_user_session_path, class: "btn btn-default" %>
          <% end %>  
        </div>
      </div>
      
    </div>
  </div>
  