<div class="container">
  <h1 class="text-center"><%= @category.name %></h1>
  <div class="spacer"></div>
  <br>
  <% if @category.projects_count == 0 %>
    <h4 class="text-center">Sorry! Please take a look at other category!</h4>
  <% else %>
    <div id="projects" class="transitions-enabled">
      <% @category.projects.each do |project| %>
      <div class="box panel panel-default">
        <%= link_to project, class: "project-link" do %> 
        <div class="panel-heading project_image darken">
            <%= image_tag project.cover, alt: project.description %>
          <div class="user_count_show">
            <span class="glyphicon glyphicon-heart"></span> &nbsp;<%= project.users.count %>
          </div>          
        </div>
        
        <div class="panel-body">
            <h3 class="project-title"><%= project.title %></h3>
            <p><%= truncate(project.description, length: 100) %></p>
        </div>
        <% end %>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <h5>Liked <%= time_ago_in_words(project.updated_at) %> ago</h5>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="btn-group pull-right">
                <% if user_signed_in? %>
                  <% if current_user.admin %>
                    <%= link_to edit_project_path(project), class: "btn btn-default" do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>         
                  <% end %>  
                <% end %>
                <%= link_to project.url, target: "_blank", class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-link"></span>
                <% end %>                
              </div> 
            </div>
          </div>
        </div>
      </div>
      <% end %> 
    </div>
  <% end %>
</div>